﻿@model RezervacijaSoba.Models.Smestaj

@{
    ViewBag.Title = "Detalji";
}

<h2>Details</h2>

<div>
    <h4>Smestaj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocena)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Kreiraj novu sobu", "Create", "Sobas", new { id = Model.Id}, null)
    </p>
    <div class="well clearfix">

        <div class="col-md-6">
            <span>Sort Products:</span>
            @using (Html.BeginForm("Details", "Smestajs", FormMethod.Get))
            {
                @Html.DropDownList("SortTypeSoba", ViewBag.SortTypes as SelectList, new { @class = "form-control col-md-6" })
                <input type="submit" value="Sort" class="btn btn-warning" />
            }
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                Broj sobe
            </th>
            <th>
                Broj kreveta
            </th>
            <th>
                Cena noćenja
            </th>
            <th></th>
        </tr>
        @if (Model.Sobe != null)
        {

            foreach (var item in Model.Sobe)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SmestajSoba.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojSobe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojKreveta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CenaNocenja)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "Edit", "Sobas", new { id = item.Id, sid = Model.Id }, null) |
                        @Html.ActionLink("Detalji", "Details", "Sobas", new { id = item.Id }, null) |
                        @Html.ActionLink("Obriši", "Delete", "Sobas", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        }

        </table>








































</div>
<p>
    @Html.ActionLink("Izmeni smeštaj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Povratak na glavni meni", "Index")
</p>
