﻿@using PagedList.Mvc
@model PagedList.IPagedList<RezervacijaSoba.Models.Smestaj>

@{

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="clearfix">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })  
    @Html.ActionLink("Idi na sve sobe", "Index", "Sobas", null, new { @class = "btn btn-primary btn-lg" })  
    @Html.ActionLink("Idi na sve rezervacije", "Index", "Rezervacijas", null, new { @class = "btn btn-primary btn-lg" }) 
    <button id="filter" class="btn btn-default btn-lg pull-right">Filter</button>
</p>

@*Skrivena forma koja se pojavljuje i nesaje (dodaje se i ukida klasa hidden) pritiskom na
    dugme Filter a posredstvom java scripta iz MyFilter.js:*@
<div id="filterForm" class="hidden">

    @using (Html.BeginForm("Filter", "Smestajs", FormMethod.Post))
    {
        @Html.Label("Smestaj naziv")
        @Html.TextBox("SmestajNaziv", null, new { @class = "form-control" })
        @Html.Label("Smestaj adresa")
        @Html.TextBox("SmestajAdresa", null, new { @class = "form-control" })

        <input type="submit" value="Send" class="btn btn-info" />
    }

</div>

<div class="well clearfix">
    @*Pretraživanje search po nazivu, adresi i opisu:*@
    <div class="col-md-6">
        <span>Search:</span>
        @using (Html.BeginForm("Index", "Smestajs", FormMethod.Get))
        {
            @Html.TextBox("search", null, new { @class = "form-control col-md-6" })

            <input type="submit" value="Search" class="btn btn-info" />
        }
    </div>
</div>


<div class="well clearfix">
    @*Sortiranje smeštaja:*@
    <div class="col-md-6">
        <span>Sort smestaja:</span>
        @using (Html.BeginForm("Index", "Smestajs", FormMethod.Get))
        {
            @Html.DropDownList("SortType", ViewBag.SortTypes as SelectList, new { @class = "form-control col-md-6" })
            <input type="submit" value="Sort" class="btn btn-warning" />
        }
    </div>
</div>

@{
    Html.RenderPartial("_SmestajTable");
}

@*Ubacivanje MyFilter.js u kome se nalazi logika za pokazivanje i skrivanje filterForm*@
@section scripts
{
    <script src="~/Scripts/MyFilter.js"></script>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

