﻿@model IEnumerable<RezervacijaSoba.Models.Rezervacija>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SobaRezervacije.BrojSobe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imeIPrezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otkazana)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SobaRezervacije.BrojSobe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imeIPrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Otkazana)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
