﻿@model IEnumerable<RezervacijaSoba.Models.Soba>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SmestajSoba.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojSobe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojKreveta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CenaNocenja)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SmestajSoba.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSobe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojKreveta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaNocenja)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>