﻿@model RezervacijaSoba.Models.Soba

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Soba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SmestajSoba.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmestajSoba.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojSobe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojSobe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojKreveta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojKreveta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaNocenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaNocenja)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Kreiraj novu rezervaciju", "Create", "Rezervacijas", new { id = Model.Id }, null)
    </p>
    <table class="table">
        <tr>
            <th>
                Broj sobe
            </th>
            <th>
                Ime i prezime
            </th>
            <th>
                Datum rezervacije od
            </th>
            <th>
                Datum rezervacije do
            </th>
            <th></th>
        </tr>

        @if (Model.RezervacijeSoba != null)
        {
            foreach (var item in Model.RezervacijeSoba)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SobaRezervacije.BrojSobe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.imeIPrezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumOd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumDo)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "Edit", "Rezervacijas", new { id = item.Id, sid = Model.Id }, null) |
                        @Html.ActionLink("Detalji", "Details", "Rezervacijas", new { id = item.Id }, null) |
                        @Html.ActionLink("Obriši", "Delete", "Rezervacijas", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        }

        </table>






























</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
