﻿@using PagedList.Mvc
@model PagedList.IPagedList<RezervacijaSoba.Models.Soba>

@{

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Povratak na glavni meni", "Index", "Smestajs", null, new { @class = "btn btn-primary btn-lg" })
    <button id="filter" class="btn btn-default btn-lg pull-right">Filter</button>
</p>

@*Skrivena forma koja se pojavljuje i nesaje (dodaje se i ukida klasa hidden) pritiskom na
    dugme Filter a posredstvom java scripta iz MyFilter.js:*@
<div id="filterForm" class="hidden">

    @using (Html.BeginForm("Filter", "Sobas", FormMethod.Post))
    {
        @Html.Label("Broj kreveta")
        @Html.TextBox("SobaBrojKreveta", null, new { @class = "form-control" })
        @Html.Label("Cena noćenja")
        @Html.TextBox("SobaCenaNocenj", null, new { @class = "form-control" })
        @Html.Label("Smestaj u kome je soba")
        @Html.TextBox("SmestajSobe", null, new { @class = "form-control" })

        <input type="submit" value="Send" class="btn btn-info" />
    }

</div>

@*Sortiranje soba:*@
<div class="well clearfix">

    <div class="col-md-6">
        <span>Sort soba:</span>
        @using (Html.BeginForm("Index", "Sobas", FormMethod.Get))
        {
            @Html.DropDownList("SortType", ViewBag.SortTypes as SelectList, new { @class = "form-control col-md-6" })
            <input type="submit" value="Sort" class="btn btn-warning" />
        }
    </div>
</div>

@{
    Html.RenderPartial("_SobaTable");
}

@*Ubacivanje MyFilter.js u kome se nalazi logika za pokazivanje i skrivanje filterForm*@
@section scripts
{
    <script src="~/Scripts/MyFilter.js"></script>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))